<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="zipCode">ZIP Code</label>
          <input type="zipCode" class="form-control" id="zipCode" placeholder="Enter ZIP Code" #zipCodeInput>
        </div>
        <button class="btn btn-primary" (click)="onClick(zipCodeInput.value)">Submit</button>
      </div>
    </div>
    <div class="row" *ngIf="weatherCondition">
      <div class="col-3">
        <p>
          Temperature: {{ weatherCondition[0].Temperature.Imperial.Value}} {{ weatherCondition[0].Temperature.Imperial.Unit}}
        </p>
        <p>
          Weather condition: {{ weatherCondition[0].WeatherText}}
        </p>
      </div>
    </div>
  </div>
</div>
